* {
    font-family : helvetica;
    font-size : 1em;
}

button {
  height : 2em;
  width : 44%;
  margin-top : 4%;
  float : left;
}

#toolbar {
  background-color : aliceblue;
  float : left;
  height : 100%;
  width : 20%;
}

#map {
  height : 100%;
  width : 80%;
  float : left; 
}

#app {
  width : 900px;
  height : 600px;
  border : 1px solid black;
  resize : both;
}  
  

